body {
    background: rgb(245, 226, 199);
    background: linear-gradient(90deg, rgba(245, 226, 199, 1) 0%, rgba(130, 103, 255, 1) 0%, rgba(84, 214, 232, 1) 99%);
}

*{
    font-family: 'Courier New', Courier, monospace;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}